.card {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    margin-bottom: 8px;
}

.companyName {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    border-bottom: 1px solid grey;
}

.infoItem {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 14px;
    opacity: 0.8;
}

.value {
    font-size: 16px;
    font-weight: bold;
}
.points {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
}
.logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
}
