.overlay {
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    background-color: #000000a1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    z-index: 1000;
    padding: 0 10px;
}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    background-color: #fff;
    border-radius: 0.5rem;
}

.btn {
    position: absolute;
    bottom: 20vh;
}
