.wrapper {
    width: 100%;
    height: 100vh;
}

.companyList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 20px 10px;
    gap: 1rem;
}
.end {
    min-height: 1px;
    background-color: transparent;
}
.noCompanies {
    text-align: center;
    margin: 20px;
    font-size: 1.2rem;
}
