.header {
    position: fixed;
    z-index: 10;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    color: #2688eb;
    background-color: #ffff;
    width: 100%;
}
.title {
    font-size: 1.3rem;
}
